.PublishWidgetsItem {
    position: relative;
    background: var(--light-bg-redesigned);
    border: 0.5px solid var(--accent-redesigned);
    width: 100%;

    &:hover {
        cursor: pointer;

        .uncheck {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            color: var(--icon-redesigned);
        }
    }

    .uncheck {
        position: absolute;
        display: none;
        color: var(--icon-redesigned);
        left: 0;
        top: 0;
    }

    .check {
        position: absolute;
        display: flex;
        color: var(--icon-redesigned);
        left: 0;
        top: 0;
    }

    .link {
        flex: 1;
        min-width: 150px;
    }

    @media (hover: none) {
        .uncheck {
            display: flex;
        }
    }
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--cancel-redesigned);
    flex-shrink: 0;
}

.active {
    background: var(--save-redesigned);
    box-shadow: 0 0 8px var(--save-redesigned);
}