.ToolsListHeader {
    // display: flex;
}

.icon {
    color: var(--icon-redesigned);
}

.mobileHeader {
    flex-wrap: wrap;
}

.clientSelect {
    //height: 50px;
    width: 200px;
}

.searchInput {
    width: 200px;
}
