.EmbedCodeCard {
    background: var(--card-bg-redesigned);
    backdrop-filter: blur(10px);
    border: 1px solid var(--bg-redesigned);
    transition: all 0.3s ease;

    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &:hover {
        border-color: var(--accent-redesigned);
    }
}

.icon {
    color: var(--accent-redesigned);
    min-width: 24px; // Prevent icon shrinking
}

.header {
    overflow: hidden;
    word-break: break-word;
}