@import '@/app/styles/variables/mixins';

.EmbedCodeCard {
    @include glass-card-secondary;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &:hover {
        border-color: var(--accent-redesigned);
    }
}

.icon {
    color: var(--accent-redesigned);
    min-width: 24px; // Prevent icon shrinking
}

.header {
    overflow: hidden;
    word-break: break-word;
}