.title {
    color: var(--text-redesigned);
}

.text {
    color: var(--text-redesigned);
    white-space: pre-wrap;
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }

    .text {
        color: var(--accent-redesigned);
    }
}

.success {
    .title {
        color: var(--save-redesigned);
    }

    .text {
        color: var(--save-redesigned);
    }
}

.warning {
    .title {
        color: #ffb300;
    }

    .text {
        color: #ffb300;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_m {
    .title {
        font: var(--font-l-redesigned);
    }

    .text {
        font: var(--font-m-redesigned);
    }
}

.size_l {
    .title {
        font: var(--font-xl-redesigned);
    }

    .text {
        font: var(--font-l-redesigned);
    }
}

.size_s {
    .title {
        font: var(--font-m-redesigned);
    }

    .text {
        font: var(--font-s-redesigned);
    }
}

.size_xl {
    .title {
        font: var(--font-xxl-redesigned);
    }

    .text {
        font: var(--font-xl-redesigned);
    }
}

.size_xs {
    .title {
        font: var(--font-s-redesigned);
    }

    .text {
        font: var(--font-xs-redesigned);
    }
}

.bold {

    .title,
    .text {
        font-weight: 700;
    }
}