@import '@/app/styles/variables/mixins';

.ReportListHeader {
    margin-bottom: var(--space-6);
    width: 100%;
}

.headerContent {
    width: 100%;

    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-4);
    }
}

.titleSection {
    min-width: fit-content;
}

.controlsSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-4);

    @include tablet {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.searchInput {
    width: 280px;

    @include tablet {
        width: 100%;
        order: 2;
    }
}

.datePicker {
    @include tablet {
        width: 100%;
        order: 1;
    }
}