@import '@/app/styles/variables/mixins';

.BillingBreakdown {
    // Force container to not grow beyond parent even if children want more
    width: 0;
    min-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    @include custom-scrollbar;
}