.AssistantsListHeader {
    display: flex;
}

.icon {
    color: var(--icon-redesigned);
}

.mobileHeader {
    flex-wrap: wrap;
}

.clientSelect {
    width: 200px;
}

.searchInput {
    width: 200px;
}
