.ReportTableItem {
    position: relative;
    background: var(--light-bg-redesigned);
    width: 100%;

    td {
        border-top: 0.5px solid var(--accent-redesigned);
        border-bottom: 0.5px solid var(--accent-redesigned);

        &:first-child {
            border-left: 0.5px solid var(--accent-redesigned);
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        &:last-child {
            border-right: 0.5px solid var(--accent-redesigned);
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }

    &:hover {
        cursor: pointer;

        .uncheck {
            display: flex;
            color: var(--icon-redesigned);
        }

        .menu {
            position: absolute;
            display: flex;
            right: 0;
            top: 0;
        }
    }

    .uncheck {
        display: flex;
        color: var(--icon-redesigned);
    }

    .check {
        display: flex;
        color: var(--icon-redesigned);
        width: 40px;
    }

    .tdCheck {
        width: 20px;
    }

    .actionsTd {
        width: 40px;
        text-align: right;
    }

    @media screen and (max-width: 1100px) {
        display: block;
        margin-bottom: 16px;
        border-radius: 12px;
        background-color: var(--dark-bg-redesigned);
        padding: 8px 0;
        border: 0.5px solid var(--accent-redesigned);

        td {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 8px 16px !important;
            min-height: 40px;
            border: none !important;
            position: relative;
            text-align: right !important;
            padding-left: 50% !important;

            &::before {
                content: attr(data-label);
                position: absolute;
                left: 16px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: 600;
                color: var(--text-redesigned);
                opacity: 0.6;
            }

            &:last-child,
            &.actionsTd {
                border-bottom: none !important;
            }
        }

        .tdCheck {
            justify-content: flex-start;
            padding-left: 16px !important;

            &::before {
                display: none;
            }
        }

        .actionsTd {
            justify-content: center;
            padding-left: 16px !important;

            &::before {
                display: none;
            }
        }
    }
}

.DialogRow {
    background: var(--dark-bg-redesigned);

    td {
        padding: 0;
        border: none;
    }

    @media screen and (max-width: 1100px) {
        display: block;
        margin-bottom: 8px;
        margin-top: -16px;
        border-radius: 0 0 12px 12px;
        border: 0.5px solid var(--light-bg-redesigned);
        border-top: none;

        td {
            display: block;
            width: 100%;
            padding: 16px !important;
        }
    }
}

.avatar {
    margin-left: 8px;
}

.isAdmin {
    border: 0.5px solid var(--save-redesigned);
}

.isClient {
    border: 0.5px solid var(--accent-redesigned);
}