.PublishWidgetsForm {
    width: 100%;
}

.contentWrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: center;
}

@media (max-width: 800px) {
    .contentWrapper {
        flex-direction: column !important;
        gap: 16px !important;
    }

    .leftColumn {
        width: 100% !important;
    }

    .rightColumn {
        width: 100% !important;
    }
}

.leftColumn {
    flex: 1;
}

.rightColumn {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    transition: all 0.3s ease;
}


.formSection {
    background: var(--card-bg-redesigned);
}