@import '@/app/styles/variables/mixins';

.row {
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: stretch;

    @include tablet {
        flex-direction: column;
    }
}

.col60 {
    flex: 3;
    min-width: 0;

    >* {
        height: 100%;
    }

    @include tablet {
        >* {
            height: auto;
        }
    }
}

.col40 {
    flex: 2;
    min-width: 0;

    >* {
        height: 100%;
    }

    @include tablet {
        >* {
            height: auto;
        }
    }
}

.col50 {
    flex: 1;
    min-width: 0;

    >* {
        height: 100%;
    }

    @include tablet {
        >* {
            height: auto;
        }
    }
}