@import '@/app/styles/variables/mixins';

.AssistantForm {
    width: 100%;
    padding: var(--space-2) 0;
}

.content {
    width: 100%;
    align-items: stretch;
    gap: var(--space-4);

    @include tablet {
        gap: var(--space-5);
    }
}

@include mobile {
    .AssistantForm {
        padding: 0;
    }

    .content {
        gap: var(--space-4);
    }
}
