@import '@/app/styles/variables/mixins';

.AssistantForm {
    width: 100%;
    padding: var(--space-2) 0;
}

.content {
    width: 100%;
    align-items: stretch;
    gap: 0;
}

@include mobile {
    .AssistantForm {
        padding: 0;
    }

    .content {
        gap: 0;
    }
}
