.BarsChart {
    :global {
        .MuiChartsLabel-root.MuiChartsLegend-label {
            fill: var(--text-redesigned) !important;
            color: var(--text-redesigned) !important;
        }
    }
}