.ReportList {
    position: relative;




    .uncheck {
        position: absolute;
        display: flex;
        color: var(--icon-redesigned);
        left: 0;
        top: 0;
    }

    .check {
        position: absolute;
        display: flex;
        color: var(--icon-redesigned);
        left: 0;
        top: 0;
    }

    .uncheckButtons {
        display: none;
    }

    .checkButtons {
        display: flex;
    }

}

.Table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px; // пространство между строками
}

.TableHeader th {
    text-align: left;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
}

.TableItem {
    background-color: var(--bg-redesigned);
    transition: background 0.2s ease;

    &:hover {
        background-color: var(--dark-bg-redesigned);
    }

    td {
        padding: 12px 16px;
        border-top: 1px solid var(--bg-redesigned);
        vertical-align: top;
    }
}

@media screen and (max-width: 800px) {
    .Table {
        display: block;
        border-spacing: 0;
    }

    .TableHeader {
        display: block;

        tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
            display: block;
        }
    }

    .Table tbody {
        display: block;
        width: 100%;
    }
}