.UserCreateCard {
    color: var(--text-redesigned);
    padding: 0px 8px;
    width: 100%; // Растягивает элемент на всю ширину родителя
    height: 100%; // Растягивает элемент на всю высоту родителя
}
