.SignupContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-redesigned);
}

.SignupContainerDesktop {
    // фон
    background-size: auto;      // растянуть под размер контейнера
    background-position: left; // выровнять по центру
    background-repeat: repeat;// не повторять
    background-image: var(--signup-logo);

}

.lang {
    color: white;
}


.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100%;
}


.signupCard {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // тень
}
