.PublishWidgetsListHeader {
    padding: 12px 0;

    .searchInput {
        width: 300px;
        transition: all 0.3s ease;

        &:focus-within {
            width: 350px;

            :global(.MuiInputBase-root) {
                border-color: var(--accent-redesigned);
                box-shadow: 0 0 10px rgba(94, 211, 243, 0.2);
            }
        }
    }

}

.mobileHeader {
    flex-wrap: wrap;
    gap: 16px;

    .searchInput {
        width: 100%;
    }
}