.AssistantsToolBar {
    position: relative;




    .uncheck {
        position: absolute;
        display: flex;
        color: var(--icon-redesigned);
        left: 0;
        top: 0;
    }

    .check {
        position: absolute;
        display: flex;
        color: var(--icon-redesigned);
        left: 0;
        top: 0;
    }

    .uncheckButtons {
        display: none;
    }

    .checkButtons {
        display: flex;
    }


}