@import '@/app/styles/variables/mixins';

.AssistantsList {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.loader {
    padding: 40px 0;
}

.caskItem {
    flex: 0 1 350px;
    max-width: 100%;
}

@media (max-width: 600px) {
    .caskItem {
        flex: 1 1 100%;
    }
}

@include mobile {
    .AssistantsList {
        padding: 0;
    }
}