.menu {
    background: var(--bg-redesigned);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--accent-redesigned);
    min-height: auto !important;
    width: max-content;
}

.item {
    padding: 8px;
    text-align: start;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}