@import '@/app/styles/variables/mixins';

.MainLayout {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar header header"
        "sidebar content rightbar";
    grid-template-columns: 260px 1fr auto;
}

.header {
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.sidebarMobile {
    display: none;
}

.gridMobile {
    grid-template-areas:
        "header"
        "content";
    grid-template-columns: 1fr;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    position: relative;
    z-index: 2;
}

.content {
    grid-area: content;
    width: 100%;
    justify-self: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    min-width: 0;
    position: relative;
    z-index: 1;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    height: 100vh;

    @include tablet {
        display: none;
    }
}

.toolbar {
    height: 100%;
    // width: 100%;
}