.Divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.Divider::before,
.Divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--accent-redesigned);
}

.Divider span {
    color: var(--text-redesigned);
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
}
