@import '@/app/styles/variables/mixins';

.PublishWidgetsPage {
    .formGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--card-padding-md);
        width: 100%;

        @include desktop {
            gap: var(--space-8);
        }

        @include tablet {
            grid-template-columns: 1fr;
            gap: var(--space-6);
        }
    }

    .accordion {
        background: transparent !important;
        box-shadow: none !important;
        border: 1px solid var(--border-redesigned);
        border-radius: var(--radius-sm) !important;

        &:before {
            display: none;
        }
    }
}