.addonRight svg,
.addonLeft svg {
    color: var(--hint-redesigned);
}

.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    &:hover {
        opacity: 0.8;

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesigned);
        }
    }
}

.withAddon {
    padding: 8px 16px;
}

.addonLeft {
    display: flex;
    padding-right: 8px;
}

.addonRight {
    display: flex;
    padding-left: 8px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;

    &.normal {
        color: var(--text-redesigned);
    }

    &.error {
        color: var(--cancel-redesigned);
    }

    &.success {
        color: var(--save-redesigned);
    }

    &.accent {
        color: var(--accent-redesigned);
    }
}

.filled {
    border: none;
    outline: none;
    border-radius: 8px;

    &.error {
        background: var(--cancel-redesigned);
    }

    &.success {
        background: var(--save-redesigned);
    }

    &.accent {
        background: var(--accent-redesigned);
    }
}

.accent {
    background: var(--accent-redesigned);
    border: none;
    outline: none;
    border-radius: 8px;
}

.outline {
    background: none;
    border: 2px solid var(--icon-redesigned);
    border-radius: 34px;

    &.normal {
        border: 2px solid var(--icon-redesigned);
    }

    &.error {
        border: 2px solid var(--cancel-redesigned);
    }

    &.success {
        border: 2px solid var(--save-redesigned);
    }

    &.accent {
        border: 2px solid var(--accent-redesigned);
    }
}

.square {
    padding: 0;
}

.square.s {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.s {
    padding: 4px 8px;
    font: var(--font-s-redesigned);
}

.l {
    font: var(--font-line-l);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}