.Card {
    padding: 24px;
}

.withoutPaddings {
    padding: 0;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.warning {
    border: 1px solid var(--cancel-redesigned);
}

.success {
    border: 1px solid var(--save-redesigned);
}

.round {
    border-radius: 40px;
}

.partial {
    border-radius: 20px;
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.diviner-top {
    // border-top: 1px solid var(--accent-redesigned);
}

.diviner-bottom {
    // border-bottom: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}

