@import '@/app/styles/variables/mixins';

.PublishSipUrisForm {
    width: 100%;
    padding: 0 var(--space-1); // Subtle padding for shadows
}

.contentWrapper {
    width: 100%;
    align-items: flex-start;
    padding: var(--space-2) var(--space-4); // Padding to allow card shadows on hover
}

.leftColumn {
    flex: 1;
    min-width: 320px;
}

.rightColumn {
    width: 450px;
    flex-shrink: 0;
}

@include desktop {
    .contentWrapper {
        flex-direction: column;
        gap: var(--card-padding-md);
    }

    .rightColumn {
        width: 100%;
    }

    .leftColumn {
        width: 100%;
    }
}

@include mobile {
    .leftColumn {
        min-width: 100%;
    }
}