@import '@/app/styles/variables/mixins';

.TelephonySipCard {
    @include glass-card-secondary;
    width: 100%;

    @include hover-lift-card;

    @include tablet {
        border-radius: var(--radius-md);
    }
}