.PbxServerEditCardHeader {
    display: flex;
    gap: 8px;
    justify-content: right;
}

.close {
    color: var(--accent-redesigned);
}

.save {
    color: var(--save-redesigned);
}

.delete {
    color: var(--cancel-redesigned);
}