.icon {
    color: var(--icon-redesigned);
}

.searchInput {
    width: 250px;
}

.mobileHeader {
    flex-wrap: wrap;

    .searchInput {
        width: 100%;
    }
}

.CreateButton {
    text-decoration: none;

    button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
    }
}